@font-face {
    font-family: 'Inter Tight';
    src: url('InterTight-Regular.eot');
    src: local('Inter Tight Regular'), local('InterTight-Regular'),
    url('InterTight-Regular.eot?#iefix') format('embedded-opentype'),
    url('InterTight-Regular.woff2') format('woff2'),
    url('InterTight-Regular.woff') format('woff'),
    url('InterTight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}